  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #409cd4;
    color: white;
    padding: 10px 20px;
  }
  .logout {
    background-color: #f44336;
    color: white;
  }
  .buttons button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .brand-container {
    display: flex;
    align-items: center;
  }
  
  .brand-icon {
    margin-right: 10px;
  }
  
  .brand {
    font-size: 24px;
  }