.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar Styling */
.navbar {
  background-color: #007bff; /* Primary color */
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #ccc !important;
}

/* Button Styling */
.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

.btn-outline-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary {
  margin-left: 15px;
  background-color: #ffc107; /* Secondary color for contrast */
  border-color: #ffc107;
}

.btn-primary:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

/* HomePage and Modal Custom Styling */
.home-page {
  padding: 20px;
}

/* Income List Styling */
.income-list {
  margin-top: 20px;
}

.income-list-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.income-source {
  font-weight: bold;
}

.income-amount {
  color: #28a745; /* Green color for amount */
}
